body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

#result {
    position: fixed;
    top: 5rem;
    left: 50%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
    height: 100%;
    width: min(60vw, 40rem);
    margin: 0 auto;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#choices {
    display: flex;
    justify-content: space-around;
}

.choice {
    padding: 1rem;
    font-size: 6rem;
}

#scores {
    display: flex;
    justify-content: space-around;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
}